@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Patrick+Hand&display=swap');

:root {
  --white: #fbfffe;
  --darkest: #3F3D56;
  --gray: #999;
  --lightgray: #eee;
  --light: #b6e6bd;
  --dark: #4baea0;
  --yellow: #f1f0cf;
  --pink: #f0c9c9;
  --hand: 'Patrick Hand', cursive;
  --sans: 'Lato', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--darkest);
  transition: all 0.2s ease;
}

.homepage {
  margin: 10px;
}

.header {
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--hand);
}

.header p {
  font-family: var(--hand);
  font-size: 80px;
  display: inline-block;
  margin: 0px;
}

.Logo {
  height: 100px;
  display: inline-block;
}

.HomeImage {
  float: right;
  width: 50vh;
}